@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в магазин автомобилей</h1>
    <p>Посмотреть каталог: <a class="nav-link text-info" asp-area="" asp-controller="AutoShop" asp-action="Index">Каталог</a></p>
</div>
